.App {
  text-align: center;
}

.App-logo {
  height: 20vw;
  max-height: 150px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #231f20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-select, .App-button {
  width: 60%; /* Adjust width as needed */
  max-width: 250px; /* Maximum width */
  margin: 10px 0; /* Vertical spacing */
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 2px solid white;
  font-size: calc(10px + 2vmin);

}

.App-select {
  -webkit-appearance: none;  /* Removes default styling in WebKit browsers */
  -moz-appearance: none;     /* Removes default styling in Firefox */
  appearance: none;          /* Removes default styling */
}


.App-input {
  width: 60%; /* Adjust width as needed */
  max-width: 700px; /* Maximum width */
  min-width: 500px;
  margin: 10px 0; /* Vertical spacing */
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 2px solid white;
  min-height: 140px;
}

.App-button {
  background: transparent;
  color: #231f20;
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}


.App-loading {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #ee6c1d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: App-spin 2s linear infinite;
}

.App-recipe-output {
  margin: 20px; /* Add more margin */
  padding: 10px;
  text-align: center;
  font-size: 18px; /* Smaller font size */
  max-width: 700px; /* Maximum width */
  width: 80%; /* Relative width */
  color: white;
}

.App-recipe-output p {
  margin: 10px 0;
}

@keyframes App-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add this media query for phones */
@media (max-width: 768px) {
  .App-logo {
    height: 15vw; /* Adjust as needed for smaller screens */
    max-height: 100px; /* Adjust as needed for smaller screens */
  }

  .App-header {
    font-size: calc(8px + 2vmin); /* Adjust font size for smaller screens */
  }

  .App-select, .App-button {
    width: 80%; /* Adjust width for smaller screens */
    max-width: 100%; /* Maximum width for smaller screens */
  }

  .App-input {
    width: 80%; /* Adjust width for smaller screens */
    max-width: 100%; /* Maximum width for smaller screens */
    min-width: unset; /* Remove minimum width for smaller screens */
  }

  .App-loading {
    width: 30px; /* Adjust size for smaller screens */
    height: 30px; /* Adjust size for smaller screens */
  }

  .App-recipe-output {
    font-size: 12px; /* Smaller font size for smaller screens */
    max-width: 100%; /* Maximum width for smaller screens */
    width: 90%; /* Relative width for smaller screens */
  }
  .App-footer {
    font-size: 10px; /* Adjust the font size for smaller screens */
  }
}
.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px; /* Smaller font size */
  color: #a9a9a9; /* Light grey color */
  padding: 10px 0;
  background-color: #231f20; /* Match the header background or choose another color */
}

.App-footer p {
  margin: 0;
}
