@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 70vw; /* Increase the height as a percentage of the viewport width */
  max-height: 160px; /* Increase the maximum height to allow the logo to become larger */
  pointer-events: none;
}

@media (max-width: 768px) {
  .App-logo {
    height: 20vw; /* Adjust as needed for smaller screens */
    max-height: 120px; /* Adjust as needed for smaller screens */
  }
}

.App-header {
  background-color: #231f20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-select, .App-button {
  width: 60%; /* Adjust width as needed */
  max-width: 250px; /* Maximum width */
  margin: 10px 0; /* Vertical spacing */
  padding: 10px;
  border-radius: 2px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-size: calc(10px + 2vmin);

}

.App-select {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-appearance: none;  /* Removes default styling in WebKit browsers */
  -moz-appearance: none;     /* Removes default styling in Firefox */
  appearance: none;          /* Removes default styling */
}


.App-input {
  width: 60%; /* Adjust width as needed */
  max-width: 700px; /* Maximum width */
  min-width: 500px;
  margin: 10px 0; /* Vertical spacing */
  padding: 10px;
  border-radius: 2px;
  font-size: 16px;
  background: transparent;
  color: white;
  border: 1px solid white;
  min-height: 100px;
}

.App-button {
  background: transparent;
  color: #231f20;
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}


.App-loading {
  width: 50px;
  height: 50px;
  margin-top: 60px;
}

.App-recipe-output {
  margin: 20px; /* Add more margin */
  padding: 10px;
  text-align: center;
  font-size: 18px; /* Smaller font size */
  max-width: 700px; /* Maximum width */
  width: 80%; /* Relative width */
  color: white;
}

.App-recipe-output p {
  margin: 10px 0;
}

@keyframes App-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add this media query for phones */
@media (max-width: 768px) {
  .App-logo {
    height: 15vw; /* Adjust as needed for smaller screens */
    max-height: 100px; /* Adjust as needed for smaller screens */
  }
  .App-header {
    font-size: calc(8px + 2vmin); /* Adjust font size for smaller screens */
  }

  .App-select, .App-button {
    width: 80%; /* Adjust width for smaller screens */
    max-width: 100%; /* Maximum width for smaller screens */
  }

  .App-input {
    width: 80%; /* Adjust width for smaller screens */
    min-height: 10%;
    max-width: 100%; /* Maximum width for smaller screens */
    min-width: unset; /* Remove minimum width for smaller screens */
    margin-bottom: 40px;
  }

  .App-loading {
    width: 30px; /* Adjust size for smaller screens */
    height: 30px; /* Adjust size for smaller screens */
  }

  .App-recipe-output {
    font-size: 12px; /* Smaller font size for smaller screens */
    max-width: 100%; /* Maximum width for smaller screens */
    width: 90%; /* Relative width for smaller screens */
  }
  .App-footer {
    font-size: 10px; /* Adjust the font size for smaller screens */
  }
}
.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px; /* Smaller font size */
  color: #a9a9a9; /* Light grey color */
  padding: 10px 0;
  background-color: #231f20; /* Match the header background or choose another color */
}

.App-footer p {
  margin: 0;
}
.Recipe-title, .Recipe-ingredients, .Recipe-instructions {
  margin-bottom: 20px;
}

.Recipe-ingredients strong, .Recipe-instructions strong {
  display: block;
  margin-bottom: 10px;
}
