@font-face {
    font-family: 'zai_OlivettiLettera22Typewriter';
    src: local('zai_OlivettiLettera22Typewriter'), url('./assets/zai_OlivettiLettera22Typewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
